{% extends 'blog/base.html' %}
{% block title %}edit{% endblock %}
{% block myip %}<h5 class="alert-warning">Public address {{ MY_IP }}</h5>{% endblock %}
{% block content %}
{% if user.is_authenticated%}
    {% if request.get_full_path != "/post/new" %}
        <h2>Edit post</h2>
    {% else %}
        <h2>Create post</h2>
    {% endif %}

    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Save</button>
    </form>
    <div>
        <h4><a style="text-decoration: none; " href="/">Back</a></h4>
    </div>
{% else %}
    <h3>You aren't authenticated!</h3>
{% endif %}

{% endblock %}
