{% extends 'blog/base.html' %}
{% block title %}detail post{% endblock %}
{% block myip %}<h5 class="alert-warning">Public address {{ MY_IP }}</h5>{% endblock %}
{% block content %}
    <div class="alert  mt-2" style="background: #ffffff;">
        {% if post.published_date %}
            <p>{{ post.published_date }}</p>
        {% endif %}
        {% if user.is_authenticated and post.author == request.user %}
            <a style="text-decoration: none; position: absolute; right: 5px;" href="{% url 'post_edit' pk=post.pk %}">Edit post</a>
        {% endif %}
        <hr>
        <h4>{{ post.title }}</h4>
        <p class="small">{{ post.text|linebreaksbr }}</p>
        <div>
            <h4><a style="text-decoration: none; " href="/">Back</a></h4>
        </div>
    </div>
{% endblock %}
